@model StudentDto



<form asp-controller="Students" asp-action="Create" method="post" enctype="multipart/form-data">

    

    @Html.AntiForgeryToken()

    <div class="row mt-5">
        <div class="col-md-8 mx-auto rounded border p-3">
            <h2 class="text-center mb-5">New Student</h2>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Name</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Email</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Gender</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Gender">
                        <option value="">Select</option>
                        <option value="Male">Male</option>
                        <option value="Female">Female</option>
                    </select>
                    <span asp-validation-for="Gender" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Date of Joining</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="DOB" type="date" />
                    <span asp-validation-for="DOB" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Image</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="ImageFile" type="file" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Age</label>
                <div class="col-sm-8">
                    <input class="form-control" asp-for="Age" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">Country</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="Country" asp-items="Model.Countries" id="countryDropdown">
                        <option value="">Select Country</option>
                    </select>
                    <span asp-validation-for="Country" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label class="col-sm-4 col-form-label">State</label>
                <div class="col-sm-8">
                    <select class="form-select" asp-for="State" id="stateDropdown">
                        <option value="">Select State</option>
                    </select>
                    <span asp-validation-for="State" class="text-danger"></span>
                </div>
            </div>


            <div class="row">
                <div class="offset-sm-4 col-sm-4 d-grid">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
                <div class="col-sm-4 d-grid">
                    <a class="btn btn-outline-primary" asp-controller="Students" asp-action="Index" role="button">Cancel</a>
                </div>
            </div>
        </div>
    </div>
</form>


@section Scripts {

    <partial name="_ValidationScriptsPartial" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        $('#countryDropdown').change(function () {
            var country = $(this).val();
            $('#stateDropdown').empty().append('<option value="">Select State</option>');
            if (country) {
                $.getJSON('@Url.Action("GetStates", "Students")', { country: country }, function (states) {
                    $.each(states, function (i, state) {
                        $('#stateDropdown').append($('<option>', { value: state, text: state }));
                    });
                });
            }
        });
    </script>
}

